# Virtual environment
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local vector database
chroma_db/

# IDE / editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/secrets.toml